h1, p, input {
    font-family: 'Lato', sans-serif;
}

#speechContainer {
    height: 100%;
    justify-content: center;
    width: 450px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background: #CDDDFE; /* Цвет фона */
}

#submitButton {
    background-color: #0191FE;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
}

#submitButton:hover {
    cursor: pointer;
}

#speechTranscriptContainer {
    margin-top: 20px;
}

#speechText {
    font-size: 18px;
    width: 500px;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    background: #DCF4FF url(misis.svg) no-repeat; /* Путь к фоновому изображению */
}
